<!-- footer section -->
<footer class="footer py-5">
    <div class="container">
      <div class="row">
        <div class="col-10 mx-auto text-center">
          <h1 class="text-uppercase font-weight-bold text-yellow d-inline-block footer-title">
            comfy sloth
          </h1>
          <!-- footer icons -->
          <div class="footer-icons d-flex justify-content-center my-5">
            <!-- single icon -->
            <a href="" class="footer-icon mx-2">
              <div class="fab fa-facebook"></div>
            </a>
            <!-- end of single icon -->
            <!-- single icon -->
            <a href="" class="footer-icon mx-2">
              <div class="fab fa-twitter"></div>
            </a>
            <!-- end of single icon -->
            <!-- single icon -->
            <a href="" class="footer-icon mx-2">
              <div class="fab fa-youtube"></div>
            </a>
            <!-- end of single icon -->
            <!-- single icon -->
            <a href="" class="footer-icon mx-2">
              <div class="fab fa-google-plus"></div>
            </a>
            <!-- end of single icon -->
            <!-- single icon -->
            <a href="" class="footer-icon mx-2">
              <div class="fab fa-instagram"></div>
            </a>
            <!-- end of single icon -->
          </div>
          <!-- footer icons -->
          <p class="text-muted text-capitalize w-75 mx-auto text-center">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore illum illo exercitationem ex porro consequuntur quae mollitia qui accusamus! Molestiae.
          </p>
          <div class="footer-contact d-flex justify-content-around mt-5">
            <!-- single contact -->
            <div class="text-capitalize">
              <span class="contact-icon mr-2">
                <i class="fas fa-map"></i>
              </span>
              123 Main Street, LUdhiana
            </div>
            <!-- end of single contact -->
            <!-- single contact -->
            <div class="text-capitalize">
              <span class="contact-icon mr-2">
                <i class="fas fa-phone"></i>
              </span>
              Phone : + (1111) 111 11111
            </div>
            <!-- end of single contact -->
            <!-- single contact -->
            <div class="text-capitalize">
              <span class="contact-icon mr-2">
                <i class="fas fa-envelope"></i>
              </span>
              Email : Eamil@Email.Com
            </div>
            <!-- end of single contact -->
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- end of footer section -->
  <!-- modal -->
  <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- modal header -->
        <div class="modal-header">
          <h5 class="modal-title text-capitalize">product info</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!--end of  modal header -->
        <!-- modal body -->
        <div class="modal-body">
          <div class="row">
            <div class="col text-center">
              <img src="img/img-products/product-1.png" class="img-fluid" alt="" />
              <!-- ratings -->
              <div class="ratings">
                <span class="rating-icon"><i class="fas fa-star"></i></span>
                <span class="rating-icon"><i class="fas fa-star"></i></span>
                <span class="rating-icon"><i class="fas fa-star"></i></span>
                <span class="rating-icon"><i class="fas fa-star"></i></span>
                <span class="rating-icon"><i class="far fa-star"></i></span>
                <span class="text-capitalize">(25 customer reviews)</span>
              </div>
              <!-- end of ratings -->
              <h2 class="text-uppercase my-2">premium office armchair</h2>
              <h2>$10.00 - $200.00</h2>
              <p class="lead text-muted">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi,
                porro.
              </p>
              <!-- colors -->
              <h5 class="text-uppercase">
                colors :
                <span class="d-inline-block products-color products-color-black mr-2"></span>
                <span class="d-inline-block products-color products-color-red mr-2"></span>
                <span class="d-inline-block products-color products-color-blue mr-2"></span>
              </h5>
              <!-- end of colors -->
              <!-- sizes -->
              <h5 class="text-uppercase">
                sizes : <span class="mx-2">xs</span> <span class="mx-2">s</span>
                <span class="mx-2">m</span> <span class="mx-2">l</span>
                <span class="mx-2">xl</span>
              </h5>
              <div class="d-flex flex-wrap">
                <!-- cart buttons -->
                <div class="d-flex my-2">
                  <span class="btn btn-black mx-1">-</span>
                  <span class="btn btn-black mx-1">4</span>
                  <span class="btn btn-black mx-1">+</span>
                </div>
                <button class="btn btn-black my-2 mx-2">wishlist</button>
                <button class="btn btn-yellow my-2 mx-2">add to cart</button>
              </div>
            </div>
          </div>
        </div>
        <!-- end modal body -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end of modal -->